@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Libre Baskerville", sans-serif;
}
:root{
  --bg: #6367FF;
  --nav: #8494FF;
  --text: #222;
  --accent: #4F1787;
  --highlight: #FFDBFD;
}

.darkmode{
  --bg: #000B58;
  --nav: #003161;
  --text: #ffffff;
  --accent: #006A67;
  --highlight: #FFF4B7;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
nav{
    background-color:var(--nav);
}
span{
    color: var(--highlight);
}
.logo{
    max-height: 30px;
}
.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuLists{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuItem:hover{
    cursor: pointer;
    transition: all 0.1s;
    background-color:var(--accent);
}
.menuItem{
    margin-right: 20px;
}
.lightmode i{
 cursor: pointer;
}
.introduction{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.introTitle{
    font-size: 40px;
    font-weight: 900;
}
.about{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}
.aboutCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, #4F1787, #6367FF);;    
    border-radius: 50px;
    margin:12px;
}
.aboutTitle{
    font-size: 40px;
    font-weight: 900;
}
.aboutMe{
    margin: 12px;
}
.gridlist{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    padding: 0;
}

.gridItem{
    background: linear-gradient(135deg, #4F1787, #6367FF);
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 20px; 
}
.gridIcon{
    min-width: 60px;
    font-size: 40px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 10px;
}
.gridItem:hover{
    cursor: pointer;
    transition: all 0.1s;
    transform: translateY(-3px);
    box-shadow: 5px 5px 8px 5px #000000;
}
.gridItem:hover .gridIcon{
    transform: rotate(5deg) scale(1.1);
    transition: transform 0.2s ease;
}
.stack{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}.stack{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
}
.frontLanguage{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
}
.language{
    min-width: 50px;
    min-height: 50px;
    background: linear-gradient(135deg, #4F1787, #6367FF);
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.language:hover{
    cursor: pointer;
    transition: all 0.1s;
    transform: translateY(-3px);
    box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.45);
}
.frontImg img{
    width: 32px;
    height: 32px;
}
.frontImg i{
    color:lightblue;
    font-size: 32px;
}

.projects ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 0;
    min-height: 100vh;
}
.project{
    list-style: none;
}
.projectCard{
    flex-direction: column;
    margin: 20px;
    background: linear-gradient(135deg, #4F1787, #6367FF);
    border-radius: 20px;
}
.projectCard:hover{
    transition: all 0.1s;
    transform: translateY(-3px);
    box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.45);
}
.projectImgContainer{
    background: rgba(255,255,255,0.08);
    border-radius: 20px 20px 0 0;
}
.projectImgContainer img{
    width: 90%;
    display: block;
    padding-top:10px ;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 50px;
}
.projectTitle{
    text-align: center;
    margin-top:12px;
    padding: 12px;
}
.projectCardDesc{
    margin: 12px;
}
.projectLinks{
    text-align: center;
    align-items: center;
}
.projectLinks i{
    font-size: 32px;
    background: none;
}
.projectLinks i:hover{
    transition: all 0.1s;
    transform: translateY(-3px);
}
.projectLinks a{
    text-decoration: none;
    color: inherit;
}
